body {
	font-family: 'Lato', sans-serif;
	color: #676858;
	font-weight: 300;
}

.title-logo {
   width: 110px;
	 height: 110px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.img-responsive {
  margin: 0 auto;
}

.img-modal {
	width: 250px;
	height: 250px;
}

@media screen and (max-width: 470px) {
	.title-logo {
		display: none;
	}
	.title-super {
		font-size: 35px;
	}
	.featured-text {
		text-align: center;
	}
	.project-img {
		max-width: 260px;
		max-height: 206px;
	}

}


@media screen and (min-width: 471px) and (max-width: 995px) {
	.title-logo {
		width: 85px;
		height: 85px;
		float:left;
	}
	.title-super {
		font-size: 40px;
	}
	.featured-text {
		text-align: center;
	}
	.project-img {
		max-width: 260px;
		max-height: 206px;
	}

}

@media screen and (min-width: 996px){

	.title-name {
		font-size: 60px;
	}
	.title-position {
		font-size: 15px;
	}
	.project-name {
		font-size: 15px;
	}
	.project-img {
		width: 250px;
		height: 250px;
  }

}
